In [12]:
import numpy as np
import pandas as pd
import random as rn

In [2]:
# 創建一個dataframe

In [35]:
data = np.random.random(12) * 10
rn.seed(12)

In [38]:
dates = pd.date_range('2018-02-18', periods=4)
df = pd.DataFrame(data.reshape(4,3), index=dates, columns=list('abc'))

In [39]:
print(df)

                   a         b         c
2018-02-18  0.319494  1.577171  6.861318
2018-02-19  5.940711  9.132791  2.750411
2018-02-20  2.228706  5.650643  3.698982
2018-02-21  8.417126  0.574272  9.252473

In [40]:
df['a']

2018-02-18    0.319494
2018-02-19    5.940711
2018-02-20    2.228706
2018-02-21    8.417126
Freq: D, Name: a, dtype: float64

In [41]:
df.a

2018-02-18    0.319494
2018-02-19    5.940711
2018-02-20    2.228706
2018-02-21    8.417126
Freq: D, Name: a, dtype: float64

In [42]:
df.T

   2018-02-18  2018-02-19  2018-02-20  2018-02-21
a    0.319494    5.940711    2.228706    8.417126
b    1.577171    9.132791    5.650643    0.574272
c    6.861318    2.750411    3.698982    9.252473

In [43]:
df[0:2]

                   a         b         c
2018-02-18  0.319494  1.577171  6.861318
2018-02-19  5.940711  9.132791  2.750411

# 標籤loc

In [46]:
df.loc['2018-02-18'] #df.loc['a']無效

a    0.319494
b    1.577171
c    6.861318
Name: 2018-02-18 00:00:00, dtype: float64

In [48]:
df.loc['2018-02-18', 'a']

0.3194938669423941

# iloc index location

In [49]:
df.iloc[0, 0]

0.3194938669423941

# ix 混合

In [50]:
df.ix[0,'a']

0.3194938669423941

----------------

In [55]:
print(df[df.a > 5])

                   a         b         c
2018-02-19  5.940711  9.132791  2.750411
2018-02-21  8.417126  0.574272  9.252473